<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mahdikaseatashin.shotshot">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/camera_shot3"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/shot_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShotShot">
        <activity android:name=".view.SaveActivity"/>
        <activity android:name=".view.details.DetailsActivity" />
        <activity android:name=".view.list.ListActivity" />
        <activity android:name=".view.interaction.InteractionActivity" />
        <activity
            android:name=".view.add.AddEditUserActivity"
            android:theme="@style/Splash" />
        <activity
            android:name=".utils.SplashActivity"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.main.MainActivity" />
    </application>

</manifest>
